body{
    background:url(imgs/imagem1.jpg);
    background-size: cover;
    font-family: Comic sans MS;

}

#areaInformacoes{
    background-color: silver;
    width: 800px;
    border: 16px groove fuchsia;
    margin: 0px auto;
    padding: 5px;

}

#frmCadastro{

	border:5px ridge yellow; /* coloca borda no formulario */

	padding:5px; /* Afasta o seu conteúdo das bordas */

	color : navy;

	font-size:16px;

}
h1 {text-align:center; font-size:30px;color:navy;}

input, textarea {background-color:lightblue;}

textarea { width:600px;}